._*
.deps
.libs
acinclude.m4
aclocal.m4
build
config.cache
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.in
conftest.cpp
conftest.o
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
tmp-php.ini
*.la
*.lo
*.s
*.ii
*.loT
*.tmproj
